@import "@/styles/mixins";

.card {
	--inside-border-radius: calc(var(--border-radius) - var(--border-width));
	@include border;
	@include double-drop-shadow;
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: var(--border-radius);
	background-color: var(--color-white);
	position: relative;

	// &:global([data-is-project-repo="true"]) {
	// 	border-color: var(--color-blue);
	// }
}

.main {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 0.5em;
	padding-right: 0.75em;
	border-bottom: var(--border-width) solid var(--color-border);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	gap: 0.125em;
}

.main-left {
	display: flex;
	align-items: center;
	gap: 0.5em;
	flex: 1;
}

.visits {
	@include center;
	gap: 0.25em;
	font-size: 0.8em;
	color: rgba(var(--color-black-rgb), 0.8);
}

.favicon {
	border-radius: var(--inside-border-radius);
}

.short-url {
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: clamp(1.1em, 4vw, 1.25em);
	line-height: 1;
	background-color: transparent !important;
	border: none;
	box-shadow: none;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	font-weight: 400;
	user-select: none;

	&:hover {
		transform: none;
	}

	span > span {
		@include center;
		gap: 0.0625em;
		transform: translateY(0.1825em);
		margin-left: 0.125em;
	}

	img {
		display: block;
		width: 1em;
		height: 1em;
		object-fit: contain;
	}
}

.main-right {
	@include center;
}

.footer {
	display: flex;
	overflow: hidden;
	border-bottom-left-radius: var(--inside-border-radius);
	border-bottom-right-radius: var(--inside-border-radius);
}

.destination-url {
	flex: 1;
	padding: 0.5em 0.75em;
	padding-right: 0.25em;
	background-color: var(--color-off-white);
	font-size: 0.8em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: rgba(var(--color-black-rgb), 0.8);
}

.action-buttons {
	display: flex;

	button,
	a {
		padding: 0;
		margin: 0;
		margin-right: calc(-1 * var(--border-width));
		filter: none;
		box-shadow: none;
		border-top: 0;
		border-bottom: 0;
		padding: 0 0.5em;

		&:active {
			transform: none;
			background-color: var(--color-pink) !important;
		}

		@include hover-wrapper {
			&:hover {
				transform: none;
				background-color: var(--color-pink) !important;

				> * {
					color: var(--color-white);
				}
			}
		}
	}

	.visit-button {
		padding-right: 0.75em;
	}
}

.public-url-indicator {
	--offset: -1em;
	@include center;
	@include border;
	position: absolute;
	top: var(--offset);
	right: var(--offset);
	padding: 0.325em;
	background-color: var(--color-blue);
	border-radius: 100vmax;
	color: var(--color-white);

	@include bp("sm") {
		right: -0.5em;
	}
}
