@import "~/styles/mixins";

.card {
	@include border;
	@include double-drop-shadow;
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: var(--border-radius);
	background-color: var(--color-white);
	overflow: hidden;
}

.main {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 0.5em;
	padding-right: 0.75em;
	border-bottom: var(--border-width) solid var(--color-border);
}

.header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	gap: 0.125em;
}

.main-left {
	display: flex;
	align-items: center;
	gap: 0.5em;
	flex: 1;
}

.favicon {
	border-radius: calc(var(--border-radius) - var(--border-width));
}

.short-url {
	flex: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: clamp(1.1em, 4vw, 1.25em);
	line-height: 1;
}

.main-right {
	@include center;
}

.footer {
	--footer-border-radius: calc(var(--border-radius) - var(--border-width));
	display: flex;
	overflow: hidden;
	border-bottom-left-radius: var(--footer-border-radius);
	border-bottom-right-radius: var(--footer-border-radius);
}

.destination-url {
	padding: 0.5em 0.75em;
	padding-right: 0.25em;
	background-color: var(--color-off-white);
	font-size: 0.8em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: rgba(var(--color-black-rgb), 0.8);
}

.action-buttons {
	display: flex;

	button,
	a {
		padding: 0;
		margin: 0;
		margin-right: calc(-1 * var(--border-width));
		filter: none;
		box-shadow: none;
		border-top: 0;
		border-bottom: 0;
		padding: 0 0.5em;

		&:active {
			transform: none;
			background-color: var(--color-pink) !important;
		}

		@include hover-wrapper {
			&:hover {
				transform: none;
				background-color: var(--color-pink) !important;
			}
		}
	}
}

.visit-button {
	width: unset;
	aspect-ratio: unset;
	padding: 0 0.75em;
	gap: 0.125em;
}

.visits {
	@include center;
	gap: 0.25em;
	font-size: 0.8em;
	color: rgba(var(--color-black-rgb), 0.8);
}
