:root {
	// Colors
	--color-blue: #6ca5d7;
	--color-blue-rgb: 108, 165, 215;
	--color-yellow: #f5dc6e;
	--color-pink: #ed6e92;
	--color-pink-a11y: #df2e60;
	--color-pink-rgb: 237, 110, 146;
	--color-black: #232327;
	--color-black-rgb: 35, 35, 39;
	--color-white: #fefbf5;
	--color-border: #24284d;
	--color-border-rgb: 36, 40, 77;
	--color-off-white: #fef7e7;
	--color-text: rgb(var(--color-black-rgb));

	// Sizes
	--page-padding-y: 4rem;
	--page-padding-x: clamp(1.75rem, 5vw, 2.5rem);
	--border-width: 3px;
	--border-radius: 0.5rem;
	--header-height: 72px;
	--shadow-offset: calc(1.75 * var(--border-width));
	--mobile-button-size: 40px;
}
