@import "@/styles/mixins";

.page {
	@include inset-shadow;
	@include border;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 var(--page-padding-x);
	background-color: var(--color-pink);
	height: calc(100vh - 2 * var(--page-padding-y));
	height: calc(100dvh - 2 * var(--page-padding-y));
}
