@import "~/styles/mixins";

.nav {
	@include center;
	justify-content: space-between;
	height: var(--page-padding-y);
	padding: 0 var(--page-padding-x);
}

.logo {
	@include center;

	a {
		@include center;
		width: 130px;
		aspect-ratio: 504 / 294;
		margin-top: calc(var(--page-padding-y) / 2);
		margin-left: calc(-1 * var(--page-padding-x) / 2);

		svg {
			transform: rotate(-5deg);
		}
	}
}

.buttons {
	@include center;
	gap: 0.5em;
}
