@import "@/styles/mixins";

.nav {
	@include center;
	justify-content: space-between;
	height: var(--page-padding-y);
	padding: 0 var(--page-padding-x);
	gap: 1em;
	z-index: 10;
}

.logo {
	@include center;
	@include drop-shadow(rgba(var(--color-black-rgb), 0.2));

	a {
		@include center;
		@include transition;
		font-size: clamp(9em, 15vw, 15em);
		margin-top: 0.4em;
		margin-left: calc(-1 * var(--page-padding-x) / 2);
		transform: rotate(-5deg);

		@include hover-wrapper {
			&:hover {
				transform: rotate(0deg);
			}
		}
	}
}

.buttons {
	@include center;
	gap: 0.5em;
}

// .heading {
// 	font-size: 0.9em;
// 	margin-right: auto;
// }
