@import "~/styles/mixins";

.heading {
	@include drop-shadow;
	@include text-outline;
	font-family: var(--ff-serif);
	text-align: center;
	color: var(--color-white);
	font-weight: normal;
	font-size: 3.5em;
	line-height: 0.7;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
}
