@import "@/styles/mixins";

.main {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.short-url {
	font-size: 0.8em;
	color: rgba(var(--color-black-rgb), 0.8);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	margin-bottom: 1em;
}

.emoji-string-display {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.25em;
	gap: 0.125em;
	padding: 0.5em;
	height: 3em;
}

.emoji-string span {
	display: flex;
	gap: 0.5em;
	padding: 0.25em;
	font-size: 1.5em;
	border-bottom: var(--border-width) solid var(--color-border);
}

.action-buttons {
	display: flex;
	justify-content: center;
	width: calc(100% - 4px);

	> button {
		height: 3em;
	}
}

.top-emojis-picker {
	margin-bottom: -0.75em;
}
