@import "~/styles/mixins";

.footer {
	@include center;
	justify-content: space-between;
	height: var(--page-padding-y);
	padding: 0 var(--page-padding-x);
	gap: 0.5em;
}

.byline {
	font-family: var(--ff-mono);
	font-size: 0.8em;
}

.link {
	@include link-decoration;
}

.buttons {
	@include center;
}
