@import "../../styles/mixins";

.form {
	--submit-button-offset: 0.25em;
	--submit-button-size: 1.75rem;
	--link-icon-size: 1.25em;
	@include double-drop-shadow;
	@include border;
	@include center;
	gap: 0.25em;
	width: 100%;
	border-radius: var(--border-radius);
	background-color: var(--color-white);
	position: relative;
	margin-bottom: 1em;
	position: relative;
	z-index: 10;
}
